<h1 style="text-align:center">
  Bienvenido a {{ title }}
</h1>
<div>
  <h1>Empleado</h1>
  <p>Nombre del Empleado: {{nombre}}</p>
  <p>Edad: {{edad}}</p>  
  <p>Los últimos tres sueldos son: {{sueldos[0]}}, {{sueldos[1]}} y {{sueldos[2]}}</p>
  <p>En los últimos 3 meses ha ganado: {{ultimos3Sueldos()}}</p>
  <p>{{esActivo()}}</p>
  <p>Sueldo del primer mes: {{sueldo(0)}}€</p>
  <p><a href="{{sitio}}">Google</a></p>
</div>
<div>
  <p>Edad:{{edad}}</p>
  @if (edad>=18) {
  <p>Es mayor de edad.</p>
  } @else {
  <p>Es menor de edad.</p>
  }
  <h1>Listado de articulos</h1>
  <table>
    @for(articulo of articulos; track articulo.codigo) {
    <tr>
      <td>{{articulo.codigo}}</td>
      <td>{{articulo.descripcion}}</td>
      <td>{{articulo.precio}}</td>
    </tr>
    }
  </table>
  <h1>Numero aleatorio entre 1 y 3</h1>
  @switch (generarNumero()) {
    @case (1) {
      <p>Uno</p>
    }
    @case (2) {
      <p>Dos</p>
    }
    @case (3) {
      <p>Tres</p>
    }
    @default {
      <p>Default</p>
    }
  }
</div>
<div>
  <h1>Contador</h1>
  <p>{{contador}}</p>
  <button (click)="incrementar()">Sumar 1</button>
  <button (click)="decrementar()">Restar 1</button>
</div>
<div>
  <h1>Property binding</h1>
  <input type="button" (click)="fijarNombre1()" value="Juan">
  <input type="button" (click)="fijarNombre2()" value="Ana">
</div>
<input type="text" [value]="nombre2">
<router-outlet />