<div class="row">
    <div class="col-md-4">
        @for(usuario of usuarios; track usuario.id){
        <div class="card">
            <img src="{{usuario.avatar}}" class="card-img-top" alt="Fissure in Sandstone" />
            <div class="card-body">
                <h5 class="card-title">{{usuario.first_name}}</h5>
                <p class="card-text">{{usuario.email}}</p>
                <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Button</a>
            </div>
        </div>
        }
    </div>
</div>