<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Home</a>
    <div id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="" class="nav-link" (click)="logout()">Log Out</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addUserModal">Añadir Usuario</button>
</div>

<!-- Modal de Añadir Usuario -->
<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserModalLabel">Añadir Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addUserForm" (ngSubmit)="onAddUser()">
                    <div class="mb-3">
                        <label for="firstName" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="firstName" formControlName="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="job" class="form-label">Trabajo</label>
                        <input type="text" class="form-control" id="job" formControlName="job" required>
                    </div>

                    <button type="submit" class="btn btn-primary" [disabled]="addUserForm.invalid">Añadir</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @for(usuario of usuarios; track usuario.id){
        <div class="col">
            <div class="card h-100">
                <img [src]="usuario.avatar" class="card-img-top" alt="{{usuario.first_name}}" />
                <div class="card-body">
                    <h5 class="card-title">{{usuario.first_name}} {{usuario.last_name}}</h5>
                    <p class="card-text">{{usuario.email}}</p>
                    <a routerLink="/usuario/{{usuario.id}}" class="btn btn-primary" data-mdb-ripple-init>Más Info</a>
                </div>
            </div>
        </div>
        }
    </div>
</div>