<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @for(usuario of usuarios; track usuario.id){
            <div class="col">
                <div class="card h-100">
                    <img [src]="usuario.avatar" class="card-img-top" alt="{{usuario.first_name}}" />
                    <div class="card-body">
                        <h5 class="card-title">{{usuario.first_name}} {{usuario.last_name}}</h5>
                        <p class="card-text">{{usuario.email}}</p>
                        <a routerLink="/usuario/{{usuario.id}}" class="btn btn-primary" data-mdb-ripple-init>Más Info</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>