<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card" style="max-width: 18rem; margin: 0 auto;">
                <img [src]="usuario.avatar" class="card-img-top"
                    alt="Foto de {{ usuario.first_name }} {{ usuario.last_name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ usuario.first_name }} {{ usuario.last_name }}</h5>
                    <p class="card-text">Email: <strong>{{ usuario.email }}</strong></p>
                    <p class="card-text">ID de usuario: <strong>{{ usuario.id }}</strong></p>
                </div>
            </div>
            <div class="text-center mt-3">
                <a routerLink="/home" class="btn btn-primary" data-mdb-ripple-init>Volver al inicio</a>
            </div>
        </div>
    </div>
</div>